<h2>Updateanddelete</h2>
<form class='form'>
<div  class=' form-group'>
<label  class=' label'>Name</label>
<input  class=' input form-control' placeholder='Type here your name' name=input_template-iqhj/>
</div>
<div  class=' form-group'>
<label  class=' label'>Email</label>
<input  class=' input form-control' type='email' placeholder='Type here your email' name=input_template-i1hp/>
</div>
<div  class=' form-group'>
<button  class=' button btn btn-primary' type='submit' name=button_template-ijr1h>Update</button>
<button  class=' button btn btn-primary' name=button_template-ixxce>Delete</button>
<button  class=' button btn btn-primary' name=button_template-ig0s5 (click)="GpSearch()">Search</button>
</div>
</form>